@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content px-4">
            <div class='c'>
                <div class='_404'>404</div>
                <div class='_1'>This is not the page</div>
                <div class='_2'>you are looking for</div>
                <a class='btn' href='#'>Home</a>
            </div>
        </article>
    </main>
</div>